*{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#background1{
  width: 100%;
  position: fixed;
  z-index: -100;
  opacity: 90%;
  height: 100vh;
  filter: contrast(100%) brightness(50%);
 }

body{
  opacity: 100%;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-around;
    position: fixed;
    z-index: 100;
    padding: 1rem 0;
    width: 100%;
}
nav.scrolled{
  background-color: white;
  ul li a{
    color: black;
  }
  .logo-heading{
    color: black;
  }
  ul li a:hover{
    color: orange;
  }
  i{
    color: black;
  }
}
.logo{
  display: flex;
  align-items: center;
  img{
    padding:0 10px 15px 0;
    
  }
}
.logo-heading{
  color: white;
  font-size: 1rem;
}
nav i{
  color: white;
  font-size: 2rem;
  opacity: 0;
}
ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
ul li {
    list-style: none;
    padding-top: 14px;
}
ul li a{
  color: white;
  text-decoration: none;
  cursor: pointer;
  padding-right: 40px;
}
ul li a:hover{
  color: orange;
}

/* Navbar responsive */
@media (max-width: 900px) {
  nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
  }
  nav i{
    opacity: 1;
    padding: 1rem 0 0 0;
  }
  ul{
    display: none;
    position: absolute;
    right: -5rem;
  }
  ul.active{
    background-color: white;
    display: block;
    position: absolute;
    right: 1rem;
    top: 2.8rem;
    border-radius: 5%;
    padding: 1rem;
    transition: 0.5s ease;
    a{
      color: black;
    }
  }  
}

/* main section */
main{
  color: white;
  height: 100vh;
  text-align: center;
  padding-top: 14rem;
   h1{
    font-size: 4rem;
   }
   p{
    font-size: 1.2rem;
    padding: 10px 0 0 0;
   }
   button{
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 20px;
    border: none;
    color: white;
    background-color: orange;
    font-weight: 700;
   }
   button:hover{
    cursor: pointer;
    color: orange;
    background-color: white;
   }
}
/* Main section responsive */
@media (max-width: 430px) {
  main{
    h1{
      font-size: 2rem;
    }
  }

}

/* Services section */
.services{
  background-color: white;
  height: 100vh;
  text-align: center;
  .service-heading{
    color: black;
    font-size: 2.5rem;
    font-weight: 300;
    padding: 10% 0 3% 0;
  }
  p{
    color: gray;
  }
}
.service-types{
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  padding: 0 10%;
  i{
    font-size: 50px;
    /* color: hsl(55, 100%, 45%); */
    color: orange;
  }
}
.service-types div{
  padding: 20px;
}
.service-types div h2{
  color: black;
  font-size: 1.2rem;
  font-weight: 400;
}

/* Services responsive section */
@media (max-width: 650px) {
  .services{
    height: 100vh;
  }
.service-types{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin-top: 3rem;
  justify-content: center;
  i{
    font-size: 30px;
  }
}
.service-types div{
  padding: 0%;
}
.service-types div h2{
  color: black;
  font-size: 0.8rem;
  font-weight: 400;
}

}

/* work section */
.work{
  background-color: #f4f4f4;
  padding: 5%;
  text-align: center;
}
.work h1{
  margin: 0 0 50px 0;
  font-weight: 400;
  font-size: 2.5rem;
}
.work p{
  color: #999999;
  margin: 0 0 3rem 0;
}
.imge{
  position: relative;
}
.work .images{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin: 8%;
}
img{
  width: 100%;
  height: 100%;
}

.work .imge:hover{
  background-color: orange;
  opacity: 1;
  transition: 0.5s ease;
  overflow: hidden;
  cursor: pointer;
  img{
    opacity: 0.2;
    transition: 0.5s ease;
    scale: 110%;
  }
  .text{
    opacity: 1;
  }
}
.imge .text{
  position: absolute;
  font-size: 50px;
  z-index: 100;
  bottom: 45%;
  left: 46%;
  opacity: 0;
  color: white;
}

/* Skills Section */
.skills{
  background-color: white;
  height: 60vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8rem;
  padding: 5%;
  .skill-text{
    width: 100%;
    font-weight: 200;
    font-stretch: wider;
    text-align: justify;
  }
  .skill-text p{
      margin-top: 3rem;
    }
  .skills-type{
    display: grid;
    grid-template-rows: repeat(4,1fr);
    }
  .skills-type h2{
    color: black;
  }
}

.skills .progress{
  height: 8px;
}
.skills .progress-title{
  display: flex;
  justify-content: space-between;
}
.skills .progress-bar{
  background-color: orange ;
}

/* Skills Section responsive */
@media (max-width: 900px) {
.skills{
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
  height:100vh
}
}

/* Get a quote */
.getaquote{
  background-color: orange;
  color: white;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 10%;
}
.getaquote h1{
  font-weight: 300;
  font-size: 2rem;
}
.getaquote button{
  padding: 10px 20px;
  border-radius: 20px;
  margin-top: 20px;
  color: white;
  background-color: orange;
  font-weight: 700;
  border: 2px solid white;
 }
 .getaquote button:hover{
  background-color: white;
  color: orange;
 }

 /* get a quote responsive */
 @media (max-width: 900px) {
 .getaquote h1{
  font-weight: 300;
  font-size: 1rem;
}
.getaquote button{
  padding: 10px 10px;
  margin-top: 20px;
  color: white;
  font-size: 0.5rem;
 }
}

 /* testimonials */
 .testimonials{
  height: 100vh;
  background-color: #f4f4f4;
  padding: 5% 10%;
  display: block;
  justify-content: center;
 }
 .testimonials-hp{
  text-align: center;
  padding: 0 0 4rem 0;
 }
 .testimonials-p{
  color: #999999;
 }
 .reviews{
  display: grid;
  grid-template-columns: 1fr 1fr;
 }
 .review{
  display: flex;
  justify-content: space-between;
 }
.review .review-image{
  width: 70px;
  height: 70px;
  border-radius: 50%;
 }
 .review-text{
  color: #999999;
  font-style: italic;
  font-size: 1.3rem;
 }
 .reviewer-name{
  color: black;
 }
/* Testimonials responsive */
@media (max-width: 900px) {
.reviews{
  grid-template-columns: 1fr;
}
.review .review-image{
  width: 50px;
  height: 50px;
 }
 .review-text{
  font-size: 0.8rem;
 }
}

 /* COntact Section */
 .contact{
  height: 55vh;
  background-color: white;
  padding: 5% 5% 0% 5%;
 }
 .contact-types{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  text-align: center;
  padding-bottom: 5%;
 }
 .ctype i{
  font-size: 4rem;
  color: orange;
 }
 .ctype h2{
  font-size: 1.2rem;
 }
 .ctype p{
  color: #999999;
 }
 .footer{
  display: flex;
  justify-content: space-between;
 }

 .footer h3{
  font-size: 1rem;
  color: #999999;
  font-weight: 300;
 }
 .footer i{
  color: #999999;
 }
 .footer i:hover{
  color: orange;
  cursor: pointer;
 }

 /* Contact section responsive */
 @media (max-width: 900px) {
  .contact{
    height: 40vh;
    background-color: white;
    padding: 5% 5% 0% 5%;
   }
  .ctype i{
    font-size: 2rem;
   }
   .ctype h2{
    font-size: 0.6rem;
   }
   .ctype p{
    font-size: 0.5rem;
   } 
   .footer h3{
    font-size: 0.6rem;
   }
   .footer i{
    font-size: 0.8rem;
   }
}


